<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/about'}) %>
  <br />

  <div class="container mx-auto p-4">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="/images/puppy.jpg"
          alt="profile" />

      </div>
      <div class="prose">

        <p>I am Yoojin Lee, and I am currently a student at Seneca Polytechnic. 
          I have a strong passion for seeking out new experiences that can broaden my perspective and enrich my life.
          I am committed to my education and self-improvement, and I see every new opportunity as a chance for personal growth. 
          I thrive on embracing new experiences, both in my academic journey and in my personal life, as they provide me with valuable insights and help me evolve as an individual.
          I constantly seek ways to expand my knowledge and understanding of the world, whether through my studies or my personal endeavors. My dedication to personal growth and my open-minded approach to life drive me to make the most of every opportunity.</p>

      </div>

    </div>

  </div>
</body>

</html>