<!DOCTYPE html>
<html lang="en" data-theme="pastel">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Login</title>
</head>
<body tabindex="-1">
    <%- include('partials/navbar', {page: '/login'}) %>

    <div class="container mx-auto p-4">
        <div class="flex items-center justify-center min-h-screen bg-gray-100">
            <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
                <h3 class="text-2xl font-bold text-center">Welcome Back!</h3>
                <form method="post" action="/login">
                    <div class="mt-4">
                        <div>
                            <label class="block" for="userName">Username</label>
                            <input type="text" placeholder="Username" id="userName" name="userName"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                        <div class="mt-4">
                            <label class="block">Password</label>
                            <input type="password" placeholder="Password" id="password" name="password"
                                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                        </div>
                        <% if (errorMessage) { %>
                            <span class="text-xs text-red-600"><%= errorMessage %></span>
                        <% } %>
                        <div class="flex items-baseline justify-between">
                            <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Login</button>
                            <a href="/register" class="text-sm text-blue-600 hover:underline">Create an account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>